 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="View your game session logs">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
      <title>Config Editor</title>

      <!-- Fallback to homescreen for Chrome <39 on Android -->
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="application-name" content="Config Editor">
      <link rel="icon" sizes="192x192" href="/static/assets/favicon.png">

      <!-- Add to homescreen for Safari on iOS -->
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="apple-mobile-web-app-title" content="Material Design Lite">
      <link rel="apple-touch-icon" href="/static/assets/favicon.png">

      <meta name="theme-color" content="#263238">
      <link rel="shortcut icon" href="/static/assets/favicon.png">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>

      <style>
        .body {
          background-color: #eceff1;
        }
        .main-title{
          display: inline-block;
        }
        .btn-home {
          width: 50%;
        }
        td.title-name {
          width: 60%;
        }
        td.actions {
          width: 40%;
        }
        .btn {
          width: 120px;
        }
        .new-config-version-button {
          float: right;
          width: 200px;
        }
        .submit {
          width: 200px;
        }
      </style>
    </head>

    <body>

      <div class="row section">
        <div class="valign-wrapper">
          <div class="col offset-s1 s1">
            <a href="/config-editor" class="btn-home waves-effect waves-light btn"><i class="material-icons center">home</i></a>
          </div>
          <div class="col s10">
            <h4 class="main-title">Config Path: <%= @config.path %></h4>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col offset-s2 s8">
          <form action="/config-editor/config/edit/<%= @config.id %>" method="post">
            <div class="input-field col s10">
              <input id="path" name="path" type="text" class="<%= 'invalid' unless @config.errors[:path].empty? %>" value="<%= @config.path %>">
              <label for="path">Path (without ".json")</label>
              <span class="helper-text" data-error="<%= @config.errors[:path].first %>"></span>
            </div>
            <div class="input-field col s2">
              <button type="submit" class="submit waves-effect waves-light btn blue lighten-1"> update </button>
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col offset-s2 s8">
          <a class="new-config-version-button waves-effect waves-light btn blue lighten-1" href="/config-editor/config-version/new/<%= @config.id %>"> New Config Version </a>
        </div>
      </div>

      <div class="row">
        <div class="col offset-s2 s8">
          <table class="highlight">
            <thead>
              <tr>
                <th>Config Version Name</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @config_versions.each do |version| %>
                <tr>
                  <td class="title-name"> <%= version.name %> </td>
                  <td class="actions">
                    <% if !version.activated %>
                      <a class="waves-effect waves-light btn gree lighten-3" href="/config-editor/config-version/activate/<%= version.id %>"> Activate </a>
                    <% else %>
                      <a class="waves-effect waves-light btn red lighten-3" href="/config-editor/config-version/deactivate/<%= version.id %>"> Deactivate </a>
                    <% end %>
                    <a class="waves-effect waves-light btn blue lighten-1" href="/config-editor/config-version/edit/<%= version.id %>"> Edit </a>
                    <a class="waves-effect waves-light btn red lighten-1" href="/config-editor/config-version/delete/<%= version.id %>" onclick="return confirm('Are you sure?')"> Delete </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          M.AutoInit()
        });
      </script>

    </body>
  </html>
