<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="View your game session logs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Config Editor</title>

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Config Editor">
    <link rel="icon" sizes="192x192" href="/static/assets/favicon.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon" href="/static/assets/favicon.png">

    <meta name="theme-color" content="#263238">
    <link rel="shortcut icon" href="/static/assets/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

    <style>
      .body {
        background-color: #eceff1;
      }
      .main-title{
        display: inline-block;
      }
      .btn-home {
        width: 50%;
      }
      .submit {
        float: right;
      }
      .input-json { 
        font-size: 24px;
        font-family: monospace;
      }
    </style>
  </head>

  <body>

    <div class="row section">
      <div class="valign-wrapper">
        <div class="col offset-s1 s1">
          <a href="/config-editor/config/edit/<%= @config.id %>" class="btn-home waves-effect waves-light btn"><i class="material-icons center">arrow_back</i></a>
        </div>
        <div class="col s10">
          <h4 class="main-title">New Config Version</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col offset-s2 s8">
        <p class="main-title">Config: <%= @config.path %></p>
      </div>
    </div>

    <div class="row">
      <div class="col offset-s2 s8">
        <form action="/config-editor/config-version/new/<%= @config.id %>" method="post">
          <div class="input-field">
            <input id="name" name="name" type="text" class="<%= 'invalid' unless @config_version.errors[:name].empty? %>" value="<%= @config_version.name %>">
            <label for="name">Name</label>
            <span class="helper-text" data-error="<%= @config_version.errors[:name].first %>"></span>
          </div>
          <div class="input-field">
            <textarea id="json" name="json" class="input-json materialize-textarea <%= 'invalid' unless @config_version.errors[:json].empty? %>"><%= @config_version.json %></textarea>
            <label for="json">Json</label>
            <span class="helper-text" data-error="<%= @config_version.errors[:json].first %>"></span>
          </div>
          <button type="submit" class="submit waves-effect waves-light btn blue lighten-1"> Create </button>
        </form>
      </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        M.AutoInit()
      });
    </script>

  </body>
</html>
